@import "tailwindcss";

/* Keep your custom body style for the dark theme */
@theme {
  --color-primary: #0f172a;
  --color-accent: #2563eb;
}

body {
  background-color: var(--color-primary);
  color: white;
  font-family: 'Inter', sans-serif;
}